.rt{
	float: right;
}
.lt{
	float: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.cr-wrapper{
  margin: 3px !important;
}
.card-head{
	padding-bottom: 20px !important;
}
.cr-heading{
  padding-top: 20px;
  margin-top: 0;
	margin-bottom: 5px !important;
}
.cr-heading .cr{
  color: #7c7c84;
  font-size: 20px;
}
.cr-heading .cr_id{
  color: #086e87;
}
.imp_details{
	padding: 0px 10px;
}
.small_label{
 color: #7c7c84;
 font-size: 14px;
 margin-bottom: 5px !important;
}
.big_label{
	margin-top: 0 !important;
	font-size: 15px;
}
.status_pending{
	background-color: orange;
	border: 3px solid #7c7c84;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.status_reject{
	background-color: red;
	border: 3px solid #7c7c84;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.status_accept{
	background-color: lightgreen;
	border: 3px solid #7c7c84;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.head-text, .label-color{
	color:#7c7c84;
}
.cr_btns{
	padding-top: 20px;
}
.btn-primary:hover{
	color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}
.btn-primary{
	color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.btn-success:hover{
	color: #fff !important;
    background-color: #449d44 !important;
    border-color: #398439 !important;
}
.btn-success{
	color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}
.btn-reject:hover{
	color: #fff !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}
.btn-reject{
	color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
#rejectButton{
	margin-right: 20px;
}
.u_email{
	display: inline-block;
	margin-left: 10px;
}
.email_body{
	padding: 10px;
}
.adr_div{
	margin-top: 10px;
	padding: 10px;
}
.side-margin{
	margin-left: 16px;
}
.bottom-margin{
	margin-bottom: 5px !important;
}
.suborder_card > div > div > dir-pagination-controls > ul{
  margin-left: 85% !important;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4% !important;
}
.suborder_card > div > div > dir-pagination-controls > ul > li{
  padding-right: 5px !important;
}

.suborder_card > div > dir-pagination-controls > ul{
  margin-left: 85% !important;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4% !important;
}
.suborder_card > div > div > dir-pagination-controls > ul > li{
  padding-right: 5px !important;
}

.suborder_card > div > dir-pagination-controls > ul{
  margin-left: 85% !important;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4% !important;
}
.suborder_card > div > dir-pagination-controls > ul > li{
  padding-right: 5px !important;
}

.suborder_card > div > div > dir-pagination-controls > ul{
  margin-left: 85% !important;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4% !important;
}
.suborder_card > div > div > dir-pagination-controls > ul > li{
  padding-right: 5px !important;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
table.sortable tr:nth-child(even){
  background-color: #efeff4
}
table.sortable tr{
  height:40px !important;
  border-top:1px solid #b1b1bc;
  border-bottom: 1px solid #b1b1bc;
}
