.small_label_1 {
    color: #7c7c84;
    font-size: 14px;
    margin-bottom: 5px !important;
}
.padding_box{
  padding:10px 20px !important;
}
#Loader{
  margin-top: 20%;
  margin-left: 45%;
  margin-bottom: 5%;
}
.btn-reject:hover {
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

.btn-reject {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
