px-card h1{
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
px-card h3{
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
#PendingActions {
    border-collapse: collapse;
    width: 100%;
}

#PendingActions td, #PendingActions th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

#PendingActions tr:nth-child(even){background-color: #f2f2f2;}

#PendingActions tr:hover {background-color: #ddd;}

#PendingActions th {
    background-color: #59707e;
    color:white;
    text-align: left;
    font-weight: 500;
}
.close{
    text-decoration: none;
    color: red !important;
    font-weight: bolder;
    vertical-align: super;
    font-size: 1.5em;
}
#Action{
  color:#1e90ff !important;
  text-decoration: underline !important;
}
