body{
  font-family: 'GE Inspira' !important;
}
.rt {
    float: right;
}

.lt {
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.viewport{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body{
  margin-bottom: 0 !important;
}
#nav-item-0{
  font-size: 1.5rem !important;
}
.px-app-nav-0 .navbar__item.px-app-nav > li.px-app-nav a.px-app-nav{
  color: white !important;
}
#nav-item-1{
  font-size: 1.5rem !important;
}

#nav-item-2{
  font-size: 1.5rem !important;
}

#nav-item-3{
  font-size: 1.5rem !important;
}

/*
main{
  height:580px !important;
}*/
/*.btn--bare{
  display:none !important;
}*/
.btn--svg{
  display:none !important;
}
.Mainheading{
  color:white !important;
  margin-left: 1.5% !important;
}
/*.px-app-nav-0 .u-ml--.px-app-nav{
  margin-left: 0.8rem !important;
}*/
[role=banner] h1 svg path:not([style-scope]):not(.style-scope), [role=banner] h2 svg path:not([style-scope]):not(.style-scope){
  fill:white !important;
}
#Login{
   float:right;
   margin-right:2%;
}
#LoginText{
  font-size:1rem;color:white;
  margin-bottom:0 !important;
}
#LoginPersonIcon{
   color:white;
   float:right;
   margin-right:1%;
   margin-top:0.5%
}


html, header {
    background-color: #333333 !important;
}

px-app-nav {
    background-color: #5a5858 !important;
    padding-top: 0px !important;
    width: 13.5% !important;
}

main {
    background-color: #e7e7e7  !important;
    min-height: calc(100vh - 6rem) !important;
}
footer{
  float:right !important;
  margin-right:1% !important;
  color:white !important;
  padding:5px !important;
}


.heading {
    color: #f4f4f5 !important;
    padding-left: 20px;
}

.rpic img {
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 0.7%;
}

.Welcome {
    color: #f4f4f5 !important;
    padding-left: 10px;
    float: right;
    margin-right: 1%;
    font-weight: 500;
    margin-bottom: 0 !important;
}


input[type=text], input[type=number]  {
    width: 100%;
    padding: 7px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#fieldWrapper{
border-radius: 3px !important;
background-color: white !important;
}
#FilterDiv{
  padding-top:1% !important;
}
#Firstdiv{
  height:50px
}
#firstfilter{
  margin-top:2%;
}
#secondfilter{
  margin-top:0.3%;
}
#thirdfilter{
  margin-top:2%;
}
#inputfilter{
  background-color:white;
  border: 1px solid #b1b1bc;
}
#applybutton{
  width: 85%;
  background-color: #3e87e8 !important;
  color: white;
  border: 1px solid #2b5ea2 !important;
}
#SecondDiv{
  height:50px;
}
#calenderdiv{
  margin-top: 2%;
}
.px-app-nav-0 > nav.px-app-nav{
  margin-top: 5% !important;
}
.status_pending{
	background-color: orange;
	border: 3px solid #7c7c84;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
  margin-right: 8px;
}
.status_reject{
	background-color: red;
	border: 3px solid #7c7c84;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
  margin-right: 8px;
}
.status_accept{
	background-color: lightgreen;
	border: 3px solid #7c7c84;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
  margin-right: 8px;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.btn-success{
  color: #fff !important;
  background-color: #60bd68 !important;
  border-color: #60bd68 !important;
}
.admin-hdr{
  padding: 15px !important;
}
.invoice_upload{
  padding: 0px !important;
}
.upload_form{
  margin: 20px;
}
.invoice_upload .odr-heading{
  border-radius: 0px;
  margin-top: 10px;
}
.odr-heading .hdr-name{
  padding-bottom: 10px !important;
}
.spinner_div{
  margin: 3px 20px;
}
#PageLoader{
  width: 10%;
  margin: 5rem auto;
}
#DivLoader{
  width: 10%;
  margin: 1rem auto;
}
.disabled {
  opacity: 0.65 !important;
  cursor: not-allowed !important;
}
.inv-table { border: none; border-collapse: collapse; }
.inv-table td { border-left: 1px solid #000; }
.inv-table td:last-child {
border-right: 1px solid #000;
}
.inv-table tr:last-child {
  border-bottom: 1px solid #000;
}
.accordion .pagination, .cr-accordion .pagination {
  padding-left: 760px;
}
.accordion .pagination li, .cr-accordion .pagination li{
  padding: 8px;
}
.accordion .pagination li > a, .cr-accordion .pagination li > a{
  color: black !important;
  text-decoration: none;
}
.accordion .pagination li a:hover, .cr-accordion .pagination li a:hover{
  color: blue !important;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.accordion .pagination li a:visited, .cr-accordion .pagination li a:visited{
  color: blue !important;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline !important;
}
.ui.styled.accordion .title{
  padding: .75em 1em 0 1em !important;
}
