.odr-header, .odr_addr, .odr_other, .sub_order, .change_req, .odr_docs, .validate_msg{
  padding: 0 !important;
}
.none{
  display:none;
}
.odr-heading{
  background-color: #0c71b8;
  border-radius: 4px 4px 0 0;
  color: white;
  padding-bottom: 10px;
}
.odr-heading h4{
  margin: 0 !important;
  padding-left: 10px;
  padding-bottom: 0px;
}
.validate_msg h4{
  margin: 0 !important;
  padding: 10px;
}
.odr-heading h2{
  margin: 16px !important;
  padding-right: 10px;
}
.odr-small-heading{
  background-color: white;
  color: #0c71b8;
}
.odr-small-heading h4{
  margin: 0px !important;
  padding: 15px 10px;
}
.odr-heading h3{
  margin: 0px !important;
  padding: 10px 10px 0 10px;
}
.odr-header .imp_details, .odr_other .imp_details{
    padding: 10px 20px;
}

.odr_addr .label-color, .odr_other .label-color, .sub_order .label-color, .change_req .label-color, .odr_docs .label-color{
  color: #0c71b8;
}
.odr_addr .cr-heading{
  padding: 10px 10px;
}
.odr_addr .adr_div{
  padding: 0px 20px 10px 20px;
  margin-top: 0px;
}
.sub_order_div{
  padding: 10px 12px;
}
.btn_div{
  margin-bottom: 10px;
}
#changeRequestDiv{
  display:none;
}
#changeRequestDiv, #disputeTextDiv{
	/*border: 2px solid #2e6da4;
	border-radius: 4px;*/
	color: #2e6da4;
	margin-bottom: 30px;
}
#rejectTextDiv{
	border: 2px solid #d9534f;
	border-radius: 4px;
	color: #d9534f;
	margin-bottom: 30px;
}
#changeRequestDiv h3, #disputeTextDiv h4{
	margin: 0  !important;
	padding: 10px;
	border-bottom: 2px solid #2e6da4;
}
#rejectTextDiv h4{
	margin: 0  !important;
	padding: 10px;
	border-bottom: 2px solid #d9534f;
}

#changeRequestDiv .send_form{
	margin: 10px;
	width: 100%;
}
#changeRequestDiv .send_form div, #disputeTextDiv .send_form div{
	margin: 20px;
}
#rejectTextDiv .send_form div{
	margin: 20px;
}

#changeRequestDiv .send_form .mailSub input[type="text"], #disputeTextDiv .send_form .mailSub input[type="text"]{
	padding: 5px;
  margin-left: 15px;
  width: 93%
}
#changeRequestDiv .send_form .mailTo input[type="text"], #changeRequestDiv .send_form .mailCc input[type="text"], #disputeTextDiv .send_form .mailTo input[type="text"]{
	padding: 5px;
  margin-left: 15px;
  width: 96%
}
#changeRequestDiv .send_form textarea, #disputeTextDiv .send_form textarea{
	padding: 5px;
  width: 99%;
  height: 200px;
}
.trackingLink{
  color: blue;
}
.trackingLink:hover{
  color: white;
}
#Loader{
  margin-top: 20%;
  margin-left: 45%;
  margin-bottom: 5%;
}
