<link rel="stylesheet" type="text/css" href="css/changeRequestList.css">
<px-card header-text="List of Change Requests &nbsp;&nbsp;&nbsp;({{Length}})&nbsp;&nbsp;&nbsp;" class="quotesList">
  <!--<div class="layout" id="FilterDiv">
		<div class="layout__item u-1/2" id="Firstdiv">
      <div class="layout">
        <div class="layout__item u-1/3" id="firstfilter">
          <px-dropdown display-value="Select"><px-dropdown-content extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10' items='[{"key":"1","val":"Quote Number"},{"key":"2","val":"Quote Version"},{"key":"3","val":"Created Date"},{"key":"4","val":"Status"}]'></px-dropdown-content></px-dropdown>
        </div>
        <div class="layout__item u-1/3" id="secondfilter">
          <input id="inputfilter" type="text" id="fname" name="firstname" placeholder="Search">
        </div>
        <div class="layout__item u-1/3" id="thirdfilter">
          <button id="applybutton" class="btn">Apply</button>
        </div>
      </div>
		</div>
    <div class="layout__item u-1/2" id="SecondDiv">
      <div id="calenderdiv">
      <px-datetime-range-field hide-time="true" show-buttons="true" date-format="YYYY/MM/DD" time-format="HH:mm:ss" time-zone="UTC" show-time-zone="abbreviatedText" range='{"from":"2015-07-01T01:00:00.000Z","to":"2016-07-08T14:00:00.000Z"}'></px-datetime-range-field>
    </div>
		</div>
	</div>-->
  <px-data-table table-data='{{ChangeRequestList}}' language="en" striped="true" sortable="true" show-column-chooser="true" table-rows="true" include-all-columns="true" >
    <px-data-table-column name="cr#" Label="CR. Number" type="html" sortable></px-data-table-column>
		<px-data-table-column name="order#" Label="Order Number"ChangeRequestList sortable></px-data-table-column>
		<px-data-table-column name="PO#" label="PO Number" sortable></px-data-table-column>
    <px-data-table-column name="crDesc" label="Description" sortable></px-data-table-column>
		<px-data-table-column name="createdDate" label="Created Date"></px-data-table-column>
    <px-data-table-column name="status" label="Status" sortable></px-data-table-column>
		<px-data-table-column name="action" label="Actions" type="html"></px-data-table-column>
	</px-data-table>
  <div class="layout_item legend_tbl">
      <table class="table_det">
        <tbody>
          <tr>
          <td><i class="fa fa-caret-right" style="padding-right:10px" aria-hidden="true"></i><strong>Pending</strong></td>
          <td>Change request is in process or pending your approval</td>
          </tr>
          <tr>
          <td><i class="fa fa-caret-right" style="padding-right:10px"aria-hidden="true"></i><strong>Accepted</strong></td>
          <td>Change request is accepted and is in progress</td>
          </tr>
          <tr>
          <td><i class="fa fa-caret-right" style="padding-right:10px" aria-hidden="true"></i><strong>Rejected</strong></td>
          <td>Change request is rejected as may not meet common agreement</td>
        </tr>
      </tbody></table>
    </div>
</px-card>
