<link rel="stylesheet" type="text/css" href="css/ChangeRequestDetails.css">
<link rel="stylesheet" type="text/css" href="css/common-lg.css">
<div class="cr-wrapper">
  <px-card  class="card-head">
    <h2 class="cr-heading"><span class="cr">CHANGE REQUEST# :</span>&nbsp;<span class="cr_id">{{crId}}</span></h2>
    <div class="imp_details clearfix">
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">Order Number</p>
        <p class="big_label"><i class="fa fa-truck small_label"></i>&nbsp;&nbsp;{{orderNumber}}</p>
      </div>
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">PO Number</p>
        <p class="big_label"><i class="fa fa-file small_label"></i>&nbsp;&nbsp;{{POnumber}}</p>
      </div>
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">Created Date</p>
        <p class="big_label"><i class="fa fa-calendar small_label"></i>&nbsp;&nbsp;{{crdate | date : 'mediumDate'}}</p>
      </div>
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">CR Status</p>
        <p class="big_label"><span ng-if="CRStatus == 'pending'" class="status_pending"></span><span ng-if="CRStatus == 'accepted'" class="status_accept"></span><span ng-if="CRStatus == 'rejected'" class="status_reject"></span>&nbsp;&nbsp;{{CRStatus}}</p>
      </div>
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">Order Status</p>
        <p class="big_label"><span ng-if="orderStatus == 'change requested'" class="status_pending"></span><span ng-if="orderStatus == 'accepted'" class="status_accept"></span><span ng-if="orderStatus == 'rejected'" class="status_reject"></span>&nbsp;&nbsp;{{orderStatus}}</p>
      </div>
    </div>
  </px-card>
  <px-card>
    <div class="clearfix">
      <div class="desk-50 lt email_head">
        <h3 class="head-text">Request Email</h3>
      </div>
      <div class="desk-50 rt clearfix cr_btns">
        <a title="Accept" id="acceptButton" class="btn btn-primary rt" ng-click="acceptClicked()">Accept</a>
        <a title="Accept" id="rejectButton" class="btn btn-primary rt" ng-click="approveClicked()">Approve</a>
        <a title="Reject" id="rejectButton" class="btn btn-reject rt" class="btn" ng-click="rejectClicked()">Reject</a>
      </div>
    </div>
    <div class="email_body">
      <div class="toFrom clearfix">
        <div class="desk-50 lt">
          <span class="label-color ">Sent To :</span><span class="u_email">{{crData.to}}</span>
        </div>
        <div class="desk-50 rt">
          <span class="label-color">Sent By :</span><span class="u_email">{{crData.from}}</span>
        </div>
      </div>
      <p>{{description}}</p>
    </div>
  </px-card>
  <px-card>
    <div>
      <h3 class="cr-heading label-color">Order Details</h3>
    </div>
    <div class="adr_div clearfix">
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">Customer account number</p>
        <p class="big_label">{{customerNumber}}</p>
      </div>
      <div class="desk-10 small-50 lt details_div">
        <p class="small_label">Taxable Status</p>
        <p class="big_label">{{taxableStatus}}</p>
      </div>
      <div class="desk-30 small-50 lt details_div">
        <p class="small_label">Billing Timeline and Percentage to be Billed</p>
        <p class="big_label">{{billingTimeline}}</p>
      </div>
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">Payment/Billing Terms</p>
        <p class="big_label">{{billingTerms}}</p>
      </div>
      <div class="desk-20 small-50 lt details_div">
        <p class="small_label">Delivery Terms</p>
        <p class="big_label">{{deliveryTerms}}</p>
      </div>
    </div>
    <div class="adr_div clearfix">
      <div class="desk-50 lt">
        <p class="small_label">Ship To</p>
        <p class="big_label bottom-margin"><i class="fa fa-map-marker small_label"></i>&nbsp;&nbsp;{{shipTo_1}}</p>
        <p class="big_label side-margin bottom-margin">{{shipTo_2}}</p>
        <p class="big_label side-margin bottom-margin">{{shipTo_3}}</p>
        <p class="big_label side-margin">{{shipTo_4}}</p>
      </div>
      <div class="desk-50 lt">
        <p class="small_label">Bill To</p>
        <p class="big_label bottom-margin"><i class="fa fa-map-marker small_label"></i>&nbsp;&nbsp;{{billTo_1}}</p>
        <p class="big_label side-margin bottom-margin">{{billTo_2}}</p>
        <p class="big_label side-margin bottom-margin">{{billTo_3}}</p>
        <p class="big_label side-margin">{{billTo_4}}</p>
      </div>
    </div>
  </px-card>
  <px-card>
    <div>
      <h3 class="cr-heading label-color">Sub-Order Details</h3>
    </div>
    <px-data-table table-data='{{OrderList}}' language="en" striped="true" table-rows="true" include-all-columns="true" hide-pagination-control="true">
        <px-data-table-column name="SrNo" Label="#"></px-data-table-column>
        <px-data-table-column name="billing_terms" label="Billing Terms"></px-data-table-column>
        <px-data-table-column name="billToaddress" label="Bill To"></px-data-table-column>
        <px-data-table-column name="sch_os_date" label="SOSD"></px-data-table-column>
        <px-data-table-column name="ros_date" label="ROSD"></px-data-table-column>
        <px-data-table-column name="bill_amt" label="Billing Amount(USD)"></px-data-table-column>
        <px-data-table-column name="link" label=" " type="html"></px-data-table-column>
    </px-data-table>
    <div ng-show="Suborder==true">
    <h4>Shipment Details</h4>
    <px-data-table table-data='{{SubOrderList}}' language="en" striped="true" table-rows="true" include-all-columns="true" hide-pagination-control="true">
        <px-data-table-column name="SrNo" Label="#"></px-data-table-column>
        <!-- <px-data-table-column name="line_item_description" label="Part Description"></px-data-table-column> -->
        <px-data-table-column name="ship_to" label="Ship To"></px-data-table-column>
        <px-data-table-column name="sch_os_date" label="SOSD"></px-data-table-column>
        <px-data-table-column name="ros_date" label="ROSD"></px-data-table-column>
        <px-data-table-column name="ship_amt" label="Shipment Amount(USD)"></px-data-table-column>
        <px-data-table-column name="pod" label="POD"></px-data-table-column>
        <px-data-table-column name="link" label=" " type="html"></px-data-table-column>
    </px-data-table>
  </px-card>
</div>
