<link rel="stylesheet" type="text/css" href="css/ChangeRequestDetails.css">
<link rel="stylesheet" type="text/css" href="css/common-lg.css">
<div class="cr-wrapper">
  <px-card>
    <h2 class="cr-heading"><span class="cr">Change Request# :</span>&nbsp;<span class="cr_id">{{crId}}</span></h2>
    <div class="imp_details clearfix">
      <div class="desk-25 small-50 lt details_div">
        <p class="small_label">Order Number</p>
        <p class="big_label">{{orderNumber}}</p>
      </div>
      <div class="desk-25 small-50 lt details_div">
        <p class="small_label">PO Number</p>
        <p class="big_label">{{POnumber}}</p>
      </div>
      <div class="desk-25 small-50 lt details_div">
        <p class="small_label">Created Date</p>
        <p class="big_label">{{}}</p>
      </div>
      <div class="desk-25 small-50 lt details_div">
        <p class="small_label">Status</p>
        <p class="big_label">{{CRStatus}}</p>
      </div>
    </div>
  </px-card>
</div>
